body {
  background: #fff5df;
}

.App-header {
  margin: 40px auto;
}

.App {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

.Dictionary-body {
  margin: 30px auto;
  text-align: left;
}

.App h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
}
